<div class="main-wrapper">
	<div class="container">
		<div class="row">
		  <div class="col-md-12">
		      <nav aria-label="breadcrumb">
		       
		        <ol class="breadcrumb">
		       
		          <li class="breadcrumb-item"><a href="#"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
		       
		          <li class="breadcrumb-item"><a href="#">Men</a></li>
		       
		          <li class="breadcrumb-item active">Men's T-Shirt</li>

		          <li class="breadcrumb-item active">Adidas T-Shirt</li>
		       
		        </ol>
		       
		      </nav>
		  </div>
		</div>
		<div class="inner-wrapper">

			<div class="product-info">
				<div class="row">
					<div class="col-md-4">
						<div class="product-img">
							<img src="../../assets/img/shirt.png" alt="">
						</div>
					</div>
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-6">
								<div class="info">
									<h2>Adidas T-Shirt</h2>
									<h3>Short discription of the product.</h3>
								</div>

								<div class="price">
								    <h3>Rs. 300.00</h3>
								</div>
								<div class="offer">
									<p><span><i class="fa fa-truck" aria-hidden="true"></i></span>FREE Shipping on orders over Rs 2000</p>
								</div>

								<div class="size">
									<div class="form-group">
									  <label for="sel1">Size</label>
									  <select class="form-control" id="sel1">
									    <option>S</option>
									    <option>M</option>
									    <option>L</option>
									  </select>
									</div>
								</div>

								<div class="quantity">
									<div class="form-group">
									  <label for="usr">Quantity:</label>
									  <input type="number" class="form-control" id="usr">
									</div>
								</div>
								<button class="btn buy-btn" type="button"><i class="icon-basket"></i>Buy Now</button>
							</div>
							<div class="col-md-6">
								<div class="about">
									<ul>
										<li>
											<span>Warranty</span>
											<span>N/A</span>
										</li>

										<li>
											<span>Returns</span>
											<span>T&C Apply</span>
										</li>
										<li>
											<span>Stock</span>
											<span>Available</span>
										</li>
									</ul>
								</div>
								<div class="otherInfo">
									<h1>Estimated Delivery time</h1>
									<p>Delivery time : 5 days</p>
									<p>Delivery cost : Rs. 50</p>
									<h2>Cash on Delivery Available</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>