@import '../../scss/mixin';
@import '../../scss/variables';

.main-wrapper{
	padding: 3rem 0;
}

.inner-wrapper{
	padding: 2rem;
}

.product-info{
	margin-bottom: 5rem;
	background: #fff;
	padding: 2rem;
}

.product-img{
	text-align: center;
}

.product-img img{
	width: 20rem;
}

.info h3{
	font-size: 1.4rem;
	color: #C5C5C5;
}

.price{
	margin: 2rem 0;
	border-bottom: 1px solid #eee;

	h3{
		font-size: 4.5rem;
		font-weight: 500;
		color: $btn-color;
	}
}

label{
	font-size: 1.6rem;
}


.offer{
	border-bottom: 1px solid #f2f2f2;
	margin-bottom: 2rem;
}

.offer span{
	padding-right: 1rem;
}

.offer p{
	font-size: 1.4rem;
	padding-bottom: 2rem;
    margin-bottom: 0;
}

.buy-btn{
	@include buyNow;
}

.about{
	background: #f3f3f3;
	padding: 1.3rem;
	margin-bottom: 2rem;

}

.about ul{
	display: flex;
	justify-content: space-around;
}

.about ul li{
	display: inline-block;
	font-size: 1.2rem;
	text-align: left;
}

.about ul li span{
	display: block;
}

.about ul li span:first-child{
	text-transform: uppercase;
	color: #333;
	font-weight: 700;
}

.otherInfo{
	background: #f3f3f3;
	padding: 1.3rem;

}

.otherInfo h1{
	font-size: 1.6rem;
	color: #333;
	font-weight: 500;
	padding-bottom: .5rem;
	border-bottom: 1px solid #B7B7B7;
}

.other h2{
	font-size: 1.6rem;
	color:#333;
	font-weight: 700;
	text-transform: uppercase;
}

.otherInfo p{
	font-size: 1.4rem;
}


//-------------------------------------


.breadcrumb{
	margin-bottom: 2rem;
    background-color: transparent; 
    border-radius: 0;
    border-bottom: 1px solid #d4d4d4;
}

.breadcrumb  li{
	font-size: 1.4rem;
	padding: 0 1rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: 1.5rem;
    color: #6c757d;
    content: ">";
    font-size: 1.8rem;
}

//------------------Related products

.related-products h1{
	margin-bottom: 2rem;
}

.card{
	margin-bottom: 2rem;
}

.main-title h1{
	font-size: 2.6rem;
}

.main-title h2{
	font-size: 1.4rem;
}

.product{
	position: relative;
	height: 34rem;
	background: #fff;
	box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.025);
	overflow:hidden;
}

.product .imgbox{
	height: 100%;
	box-sizing: border-box;
}

.product .imgbox img{
	display: block;
	width: 20rem;
	margin: 2rem auto 0;
}

.details{
	position: absolute;
	width: 100%;
	bottom: -16.2rem;
	background: #fff;
	padding: 1rem;
	box-sizing: boder-box;
	box-shadow: 0 0 0 rgba(0,0,0,0);
	transition: all .5s;
}

.product:hover .details{
	bottom:0;
	box-shadow: 0 -.5rem 1.5rem rgba(0,0,0,.25);
}

.details h2{
	margin: 0;
	padding: 0;
	font-size: 1.6rem;
	width: 100%;
}

.details h2 span{
	font-size: 1.2rem;
	color: #ccc;
	font-weight: normal;
}

.details .price{
	position: absolute;
	top: 1rem;
  	right : 1rem;
	font-weight: bold;
	color: #2ecc71;
	font-size: 1.8rem;
}

label{
	display: block;
	margin-top: .5rem;
	font-weight: bold;
	font-size: 1.4rem;
}

.product ul{
	display: flex;
	margin-top: 0;
	padding: 0;
}

.product ul li{
	list-style: none;
	margin: .5rem .5rem 0;
	font-size: 1.2rem;
	font-weight: normal;
	color: #ccc;

}

.product ul li:first-child{
	margin-left: 0;
}

.product ul.colors li{
	width: 1.6rem;
	height: 1.6rem;
}

.product ul.colors li:nth-child(1){
	background: #ff0;
}

.product ul.colors li:nth-child(2){
	background: #f00;
}

.product ul.colors li:nth-child(3){
	background: #f0f;
}

.product ul.colors li:nth-child(4){
	background: #0ff;
}

.product ul.colorts li:nth-child(5){
	background: #00f;
}