<div class="main-wrapper">
  <div class="container-fluid">
    <div class="inner-wrapper">
      <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
             
              <ol class="breadcrumb">
             
                <li class="breadcrumb-item"><a href="#"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
             
                <li class="breadcrumb-item"><a href="#">Accessories</a></li>
                      
              </ol>
             
            </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="filter">
            <h1><i class="fa fa-filter" aria-hidden="true"></i> Filters</h1>
            <div class="filterOption brand">
              <h1>For</h1>
              <form>
                  <div class="form-check">
                    <label class="form-check-label" for="check1">
                      <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something"><span>Him</span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label" for="check2">
                      <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something"><span>Her</span>
                    </label>
                  </div>
                </form>
            </div>
            <div class="filterOption size">
              <h1>Type</h1>
              <ul>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" value=""><span>Hand</span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" value=""><span>Eyes</span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" value=""><span>Neck</span>
                    </label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-8">
              <div class="main-title">
                <h1>Accessories</h1>
                <h2>200 items</h2>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group sort-filter">
                <label>Sort by: </label>
                <select class="form-control custom-select" id="inputGroupSelect04">
                  <option selected>Choose...</option>
                  <option value="1">Price Low to High</option>
                  <option value="2">Price High to Low</option>
                </select>
                <div class="input-group-append">
                  <button class="btn btn-sort" type="button">GO</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3">
              <div class="card">
                <div class="product">
                  <div class="imgbox">
                    <img src="../../assets/img/shirt4.png" alt="">
                  </div>
                  <div class="details">
                    <h2>Accessory Name <br><span>Short Detail</span></h2>
                    <div class="price">NRS. 970</div>
                    <button class="btn btn-block btn-cart">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
              <div class="card">
                <div class="product">
                  <div class="imgbox">
                    <img src="../../assets/img/shirt4.png" alt="">
                  </div>
                  <div class="details">
                    <h2>Accessory Name <br><span>Short Detail</span></h2>
                    <div class="price">NRS. 650</div>
                    <button class="btn btn-block btn-cart">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
              <div class="card">
                <div class="product">
                  <div class="imgbox">
                    <img src="../../assets/img/shirt3.png" alt="">
                  </div>
                  <div class="details">
                    <h2>Accessory Name <br><span>Short Detail</span></h2>
                    <div class="price">NRS. 570</div>
                    <button class="btn btn-block btn-cart">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
              <div class="card">
                <div class="product">
                  <div class="imgbox">
                    <img src="../../assets/img/shirt4.png" alt="">
                  </div>
                  <div class="details">
                    <h2>Accessory Name <br><span>Short Detail</span></h2>
                    <div class="price">NRS. 800</div>
                    <button class="btn btn-block btn-cart">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
              <div class="card">
                <div class="product">
                  <div class="imgbox">
                    <img src="../../assets/img/shirt.png" alt="">
                  </div>
                  <div class="details">
                    <h2>Accessory Name <br><span>Short Detail</span></h2>
                    <div class="price">NRS. 170</div>
                    <button class="btn btn-block btn-cart">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
              <div class="card">
                <div class="product">
                  <div class="imgbox">
                    <img src="../../assets/img/shirt2.png" alt="">
                  </div>
                  <div class="details">
                    <h2>Accessory Name <br><span>Short Detail</span></h2>
                    <div class="price">NRS. 200</div>
                    <button class="btn btn-block btn-cart">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
              <div class="card">
                <div class="product">
                  <div class="imgbox">
                    <img src="../../assets/img/shirt.png" alt="">
                  </div>
                  <div class="details">
                    <h2>Accessory Name <br><span>Short Detail</span></h2>
                    <div class="price">NRS. 800</div>
                    <button class="btn btn-block btn-cart">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
              <div class="card">
                <div class="product">
                  <div class="imgbox">
                    <img src="../../assets/img/shirt3.png" alt="">
                  </div>
                  <div class="details">
                    <h2>Accessory Name <br><span>Short Detail</span></h2>
                    <div class="price">NRS. 650</div>
                    <button class="btn btn-block btn-cart">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
