<div class="main-wrapper">
  <div class="container-fluid">
    <div class="inner-wrapper">
      <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
             
              <ol class="breadcrumb">
             
                <li class="breadcrumb-item"><a href="#"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
             
                <li class="breadcrumb-item"><a href="#">Men</a></li>
             
                <li class="breadcrumb-item active" aria-current="page">Men's T-Shirt</li>
             
              </ol>
             
            </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="filter">
            <h1><i class="fa fa-filter" aria-hidden="true"></i> Filters</h1>
            <div class="filterOption brand">
              <h1>Brand</h1>
              <form>
                  <div class="form-check">
                    <label class="form-check-label" for="check1">
                      <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something"><span>Jockey</span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label" for="check2">
                      <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something"><span>Nike</span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" disabled><span>Police</span>
                    </label>
                  </div>
                </form>
            </div>
            <div class="filterOption size">
              <h1>Size</h1>
              <ul>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" value=""><span>S</span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" value=""><span>M</span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" value=""><span>L</span>
                    </label>
                  </div>
                </li>
              </ul>
            </div>
            <div class="filterOption color">
              <h1>Color Family</h1>
              <ul>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" value=""><span>Red</span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" value=""><span>Blue</span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" value=""><span>Orange</span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" value=""><span>Gray</span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" value=""><span>Multi</span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" value=""><span>Orange</span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" value=""><span>White</span>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" value=""><span>Green</span>
                    </label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-8">
              <div class="main-title">
                <h1>Mens T-Shirt</h1>
                <h2>500 items</h2>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group sort-filter">
                <label>Sort by: </label>
                <select class="form-control custom-select" id="inputGroupSelect04">
                  <option selected>Choose...</option>
                  <option value="1">Price Low to High</option>
                  <option value="2">Price High to Low</option>
                </select>
                <div class="input-group-append">
                  <button class="btn btn-sort" type="button">GO</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3">
              <div class="card">
                <div class="product">
                  <div class="imgbox">
                    <img src="../../assets/img/shirt.png" alt="">
                  </div>
                  <div class="details">
                    <h2>Brand Name <br><span>Men's Designer T-Shirt</span></h2>
                    <div class="price">NRS. 650</div>
                    <label>Sizes</label>
                    <ul>
                      <li>XS</li>
                      <li>S</li>
                      <li>M</li>
                      <li>L</li>
                    </ul>
                    <label>Colors</label>
                    <ul class="colors">
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                    <button class="btn btn-block btn-cart">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
              <div class="card">
                <div class="product">
                  <div class="imgbox">
                    <img src="../../assets/img/shirt5.png" alt="">
                  </div>
                  <div class="details">
                    <h2>Brand Name <br><span>Men's Designer T-Shirt</span></h2>
                    <div class="price">NRS. 600</div>
                    <label>Sizes</label>
                    <ul>
                      <li>XS</li>
                      <li>S</li>
                      <li>M</li>
                      <li>L</li>
                    </ul>
                    <label>Colors</label>
                    <ul class="colors">
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                    <button class="btn btn-block btn-cart">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
              <div class="card">
                <div class="product">
                  <div class="imgbox">
                    <img src="../../assets/img/shirt3.png" alt="">
                  </div>
                  <div class="details">
                    <h2>Brand Name <br><span>Men's Designer T-Shirt</span></h2>
                    <div class="price">NRS. 900</div>
                    <label>Sizes</label>
                    <ul>
                      <li>XS</li>
                      <li>S</li>
                      <li>M</li>
                      <li>L</li>
                    </ul>
                    <label>Colors</label>
                    <ul class="colors">
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                    <button class="btn btn-block btn-cart">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
              <div class="card">
                <div class="product">
                  <div class="imgbox">
                    <img src="../../assets/img/shirt5.png" alt="">
                  </div>
                  <div class="details">
                    <h2>Brand Name <br><span>Men's Designer T-Shirt</span></h2>
                    <div class="price">NRS. 650</div>
                    <label>Sizes</label>
                    <ul>
                      <li>XS</li>
                      <li>S</li>
                      <li>M</li>
                      <li>L</li>
                    </ul>
                    <label>Colors</label>
                    <ul class="colors">
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                    <button class="btn btn-block btn-cart">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
              <div class="card">
                <div class="product">
                  <div class="imgbox">
                    <img src="../../assets/img/shirt2.png" alt="">
                  </div>
                  <div class="details">
                    <h2>Brand Name <br><span>Men's Designer T-Shirt</span></h2>
                    <div class="price">NRS. 650</div>
                    <label>Sizes</label>
                    <ul>
                      <li>XS</li>
                      <li>S</li>
                      <li>M</li>
                      <li>L</li>
                    </ul>
                    <label>Colors</label>
                    <ul class="colors">
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                    <button class="btn btn-block btn-cart">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
              <div class="card">
                <div class="product">
                  <div class="imgbox">
                    <img src="../../assets/img/shirt4.png" alt="">
                  </div>
                  <div class="details">
                    <h2>Brand Name <br><span>Men's Designer T-Shirt</span></h2>
                    <div class="price">NRS. 650</div>
                    <label>Sizes</label>
                    <ul>
                      <li>XS</li>
                      <li>S</li>
                      <li>M</li>
                      <li>L</li>
                    </ul>
                    <label>Colors</label>
                    <ul class="colors">
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                    <button class="btn btn-block btn-cart">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
              <div class="card">
                <div class="product">
                  <div class="imgbox">
                    <img src="../../assets/img/shirt3.png" alt="">
                  </div>
                  <div class="details">
                    <h2>Brand Name <br><span>Men's Designer T-Shirt</span></h2>
                    <div class="price">NRS. 650</div>
                    <label>Sizes</label>
                    <ul>
                      <li>XS</li>
                      <li>S</li>
                      <li>M</li>
                      <li>L</li>
                    </ul>
                    <label>Colors</label>
                    <ul class="colors">
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                    <button class="btn btn-block btn-cart">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
              <div class="card">
                <div class="product">
                  <div class="imgbox">
                    <img src="../../assets/img/shirt2.png" alt="">
                  </div>
                  <div class="details">
                    <h2>Brand Name <br><span>Men's Designer T-Shirt</span></h2>
                    <div class="price">NRS. 650</div>
                    <label>Sizes</label>
                    <ul>
                      <li>XS</li>
                      <li>S</li>
                      <li>M</li>
                      <li>L</li>
                    </ul>
                    <label>Colors</label>
                    <ul class="colors">
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                    <button class="btn btn-block btn-cart">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
