<div class="banner"></div>
<div class="main-wrapper">
	<div class="container">
		<div class="inner-wrapper">
			<div class="block">
				<div class="top-offers">
					<div class="row">
						<div class="col-md-4">
							<div class="box-wrapper">
								<img src="../../assets/img/pic1.jpg" alt="">
								<div class="box-text">
									<h1>Sale <span>Sale on Womens wear</span></h1>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="box-wrapper">
								<img src="../../assets/img/pic1.jpg" alt="">
								<div class="box-text">
									<h1>Women <span>75 items</span></h1>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="box-wrapper">
								<img src="../../assets/img/pic1.jpg" alt="">
								<div class="box-text">
									<h1>Women <span>75 items</span></h1>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="block blockOne">
				<div class="main-title">
					<h1><span>For Him</span></h1>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-4 col-lg-3">
					  <div class="card">
					    <div class="product">
					      <div class="imgbox">
					        <img src="../../assets/img/shirt2.png" alt="">
					      </div>
					      <div class="details">
					        <h2>Brand Name <br><span>Men's Designer T-Shirt</span></h2>
					        <div class="price">NRS. 650</div>
					        <label>Sizes</label>
					        <ul>
					          <li>XS</li>
					          <li>S</li>
					          <li>M</li>
					          <li>L</li>
					        </ul>
					        <label>Colors</label>
					        <ul class="colors">
					          <li></li>
					          <li></li>
					          <li></li>
					          <li></li>
					        </ul>
					        <button class="btn btn-block btn-cart">Add to cart</button>
					      </div>
					    </div>
					  </div>
					</div>
					<div class="col-sm-12 col-md-4 col-lg-3">
					  <div class="card">
					    <div class="product">
					      <div class="imgbox">
					        <img src="../../assets/img/shirt3.png" alt="">
					      </div>
					      <div class="details">
					        <h2>Brand Name <br><span>Men's Designer T-Shirt</span></h2>
					        <div class="price">NRS. 650</div>
					        <label>Sizes</label>
					        <ul>
					          <li>XS</li>
					          <li>S</li>
					          <li>M</li>
					          <li>L</li>
					        </ul>
					        <label>Colors</label>
					        <ul class="colors">
					          <li></li>
					          <li></li>
					          <li></li>
					          <li></li>
					        </ul>
					        <button class="btn btn-block btn-cart">Add to cart</button>
					      </div>
					    </div>
					  </div>
					</div>
					<div class="col-sm-12 col-md-4 col-lg-3">
					  <div class="card">
					    <div class="product">
					      <div class="imgbox">
					        <img src="../../assets/img/shirt4.png" alt="">
					      </div>
					      <div class="details">
					        <h2>Brand Name <br><span>Men's Designer T-Shirt</span></h2>
					        <div class="price">NRS. 650</div>
					        <label>Sizes</label>
					        <ul>
					          <li>XS</li>
					          <li>S</li>
					          <li>M</li>
					          <li>L</li>
					        </ul>
					        <label>Colors</label>
					        <ul class="colors">
					          <li></li>
					          <li></li>
					          <li></li>
					          <li></li>
					        </ul>
					        <button class="btn btn-block btn-cart">Add to cart</button>
					      </div>
					    </div>
					  </div>
					</div>
					<div class="col-sm-12 col-md-4 col-lg-3">
					  <div class="card">
					    <div class="product">
					      <div class="imgbox">
					        <img src="../../assets/img/shirt.png" alt="">
					      </div>
					      <div class="details">
					        <h2>Brand Name <br><span>Men's Designer T-Shirt</span></h2>
					        <div class="price">NRS. 650</div>
					        <label>Sizes</label>
					        <ul>
					          <li>XS</li>
					          <li>S</li>
					          <li>M</li>
					          <li>L</li>
					        </ul>
					        <label>Colors</label>
					        <ul class="colors">
					          <li></li>
					          <li></li>
					          <li></li>
					          <li></li>
					        </ul>
					        <button class="btn btn-block btn-cart">Add to cart</button>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
			<div class="block blockTwo">
				<div class="main-title">
					<h1><span>For Her</span></h1>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-4 col-lg-3">
					  <div class="card">
					    <div class="product">
					      <div class="imgbox">
					        <img src="../../assets/img/wo1.jpg" alt="">
					      </div>
					      <div class="details">
					        <h2>Brand Name <br><span>Women Designer Dress</span></h2>
					        <div class="price">NRS. 950</div>
					        <label>Sizes</label>
					        <ul>
					          <li>XS</li>
					          <li>S</li>
					          <li>M</li>
					          <li>L</li>
					        </ul>
					        <label>Colors</label>
					        <ul class="colors">
					          <li></li>
					          <li></li>
					          <li></li>
					          <li></li>
					        </ul>
					        <button class="btn btn-block btn-cart">Add to cart</button>
					      </div>
					    </div>
					  </div>
					</div>
					<div class="col-sm-12 col-md-4 col-lg-3">
					  <div class="card">
					    <div class="product">
					      <div class="imgbox">
					        <img src="../../assets/img/wo2.jpg" alt="">
					      </div>
					      <div class="details">
					        <h2>Brand Name <br><span>Women Designer Jacket</span></h2>
					        <div class="price">NRS. 3350</div>
					        <label>Sizes</label>
					        <ul>
					          <li>XS</li>
					          <li>S</li>
					          <li>M</li>
					          <li>L</li>
					        </ul>
					        <label>Colors</label>
					        <ul class="colors">
					          <li></li>
					          <li></li>
					          <li></li>
					          <li></li>
					        </ul>
					        <button class="btn btn-block btn-cart">Add to cart</button>
					      </div>
					    </div>
					  </div>
					</div>
					<div class="col-sm-12 col-md-4 col-lg-3">
					  <div class="card">
					    <div class="product">
					      <div class="imgbox">
					        <img src="../../assets/img/wo3.jpg" alt="">
					      </div>
					      <div class="details">
					        <h2>Brand Name <br><span>Women Designer Top</span></h2>
					        <div class="price">NRS. 550</div>
					        <label>Sizes</label>
					        <ul>
					          <li>XS</li>
					          <li>S</li>
					          <li>M</li>
					          <li>L</li>
					        </ul>
					        <label>Colors</label>
					        <ul class="colors">
					          <li></li>
					          <li></li>
					          <li></li>
					          <li></li>
					        </ul>
					        <button class="btn btn-block btn-cart">Add to cart</button>
					      </div>
					    </div>
					  </div>
					</div>
					<div class="col-sm-12 col-md-4 col-lg-3">
					  <div class="card">
					    <div class="product">
					      <div class="imgbox">
					        <img src="../../assets/img/wo4.jpg" alt="">
					      </div>
					      <div class="details">
					        <h2>Brand Name <br><span>Women Designer Top</span></h2>
					        <div class="price">NRS. 2250</div>
					        <label>Sizes</label>
					        <ul>
					          <li>XS</li>
					          <li>S</li>
					          <li>M</li>
					          <li>L</li>
					        </ul>
					        <label>Colors</label>
					        <ul class="colors">
					          <li></li>
					          <li></li>
					          <li></li>
					          <li></li>
					        </ul>
					        <button class="btn btn-block btn-cart">Add to cart</button>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
			<div class="categories">
				<div class="row">
					<div class="col-md-3">
						<div class="box-wrapper">
							<img src="../../assets/img/pic1.jpg" alt="">
							<div class="box-text">
								<h1>Women <span>75 items</span></h1>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-wrapper">
							<img src="../../assets/img/pic2.jpg" alt="">
							<div class="box-text">
								<h1>Men <span>84 items</span></h1>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-wrapper">
							<img src="../../assets/img/pic3.jpg" alt="">
							<div class="box-text">
								<h1>Shoes <span>55 items</span></h1>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-wrapper">
							<img src="../../assets/img/pic4.jpg" alt="">
							<div class="box-text">
								<h1>Accesories <span>22 items</span></h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>